<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Credit Card</title>
</head>
<body>

<h3>Add Order</h3>

<form action="/cards/add" method="post">
    <input type="date" name="cardExpiresAt" placeholder="card expires at">
    <br>
    <input type="text" name="cardHolder" placeholder="card holder">
    <br>
    <input type="number" name="cvv" placeholder="cvv">
    <br>
    <input type="number" name="cardNumber" placeholder="card number">
    <input type="submit" value="Add">
</form>
</body>
</html>