<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add Order</title>-->
<!--</head>-->
<!--<body>-->

<!--<h3>Add Order</h3>-->

<!--<form action="/orders/add" method="post">-->
<!--    <input type="text" name="additionalAddress" placeholder="please input first additional address">-->
<!--    <br>-->
<!--    <input type="number" name="additionalPhone" placeholder="please input phone number">-->
<!--    <br>-->
<!--    <input type="number" name="paymentId" placeholder="please input payment if you">-->
<!--    <input type="submit" value="Add">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->