<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add User</title>
</head>
<body>

<h3>Add User</h3>

<form action="/payments/add" method="post">
  <input type="date" name="paidAt"><br>
  <input type="text" name="paymentAmount" placeholder="please input last payment amount"><br>
  <select name="paymentOption">
    <option value="CASH">CASH</option>
    <option value="CREDIT_CARD">CREDIT CARD</option>
  </select><br>

  <select name="orderId">
    <option th:each="order:${orders}" th:value="${order.id}" th:text="${order}"></option>
  </select>

  <select name="userId">
    <option th:each="user:${users}" th:value="${user.id}" th:text="${user}"></option>
  </select>

  <input type="submit" value="Add">
</form>

</body>
</html>