<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add User</title>-->
<!--</head>-->
<!--<body>-->

<!--<h3>Add User</h3>-->

<!--<form action="/payments/add" method="post">-->
<!--    &lt;!&ndash;  <input type="date" na<me="paidAt"><br>&ndash;&gt;-->
<!--    <input type="text" name="paymentAmount"><br>-->
<!--    <select name="paymentOption">-->
<!--        <option value="CASH">CASH</option>-->
<!--        <option value="CREDIT_CARD">CREDIT CARD</option>-->
<!--   -->
<!--    </select><br>-->
<!--    <input type="submit" value="Add">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->