<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
Please enter your email and password:
<form action="/login", method="post">
    <span style="color: red" th:if="${error != null}">Invalid credentials</span><br>
    Email address:
    <input type="email" name="username" placeholder="Enter your email"><br>
    Password:
    <input type="password" name="password" placeholder="Enter your password"><br><br>
    <button type="submit">Log In</button>
    Don't have an account? <a href="/users/add">Create an Account</a>
</form>
</body>
</html>